@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

@mixin mobile {
    @media screen and (max-width: 850px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.form {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        width: 500px;
        background-color: white;
        border-radius: 20px;
        padding: 20px 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        img {
            width: 100px;
        }

        input {
            border: none;
            border-bottom: 2px solid lightseagreen;
            outline: none;
            font-size: 16px;
            padding: 6px;
            width: 400px;
            height: 32px;
        }

        button {
            background-color: lightseagreen;
            border: none;
            border-radius: 12px;
            padding: 16px;
            font-size: 20px;
            font-weight: 500;
            color: white;
            width: 240px;
            cursor: pointer;
            transition: all 0.3s;
        }

        button:hover {
            scale: 1.1;
        }

        label {
            display: flex;
            align-self: flex-start;
            justify-content: flex-start;
            gap: 12px;
            align-items: center;
            cursor: pointer;

            img {
                width: 60px;
            }
        }
    }
}

.home {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        height: auto;
    }

    .container {
        border-radius: 20px;
        overflow: hidden;
        width: 90%;
        max-width: 1500px;
        background-color: transparent;
        box-shadow: 6px 6px 30px 1px rgba(0, 0, 0, 0.4);
        height: 90%;
        display: flex;

        @include mobile {
            flex-direction: column;
            margin: 60px 0 100px 0;
        }

        .sidebar {
            flex: 1;
            color: white;
            background-color: rgb(0, 178, 255);

            .navbar {
                background-color: rgb(19, 158, 244);
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px;
                height: 70px;

                .logo {
                    width: 44px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        background-color: white;
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: darkblue;
                        color: white;
                        border-radius: 8px;
                        border: none;
                        padding: 6px;
                        font-size: 12px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                    button:hover {
                        scale: 1.1;
                    }
                }
            }

            .search {
                background-color: rgb(0, 178, 255);
                border-bottom: 1px solid white;

                .search-form {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        width: 100%;
                        font-size: 16px;
                        border: none;
                        outline: none;
                        color: white;

                        &::placeholder {
                            color: white;
                        }
                    }
                }
            }

            .user-chat {
                padding: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 16px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                &:hover {
                    background-color: rgb(19, 158, 244);
                }

                .user-chat-info {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        .chat {
            flex: 2;

            .chat-info {
                font-size: 20px;
                font-weight: 500;
                padding: 12px;
                background-color: rgb(19, 158, 244);
                color: white;
                height: 70px;
                display: flex;
                align-items: center;
            }

            .messages {
                background-color: rgb(206, 251, 251);
                height: calc(100% - 140px);
                padding: 12px;
                overflow: auto;

                @include mobile {
                    height: 600px;
                }

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 30px;

                    .message-info {
                        display: flex;
                        flex-direction: column;
                        color: grey;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .message-content {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 6px;

                        p {
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0 16px 16px 16px;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .message-content {
                            align-items: flex-end;

                            p {
                                background-color: rgb(19, 158, 244);
                                color: white;
                                border-radius: 16px 0 16px 16px;
                            }
                        }
                    }
                }
            }

            .input {
                background-color: white;
                padding: 12px;
                height: 70px;
                display: flex;
                align-items: center;

                input {
                    font-size: 20px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid black;
                    width: 82%;
                }

                .send {
                    padding: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    label {
                        cursor: pointer;
                    }

                    img {
                        width: 34px;
                    }

                    button {
                        background-color: rgb(19, 158, 244);
                        border: none;
                        border-radius: 12px;
                        padding: 12px;
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                        width: 90px;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            scale: 1.1;
                        }
                    }
                }
            }
        }
    }
}